body {
  background: url("https://carolinavillalobosblog.files.wordpress.com/2014/10/abandoned-road.jpg");
  background-size: cover;
}

.canvas-container {
  width: 800px;
  height: 450px;
  border: 3px solid black;
  margin: 0 auto;
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../images/game-background.png");
  background-position-x: right;
  background-size: cover;
  z-index: 3;
}

#typing-form {
  font-family: "Roboto Slab";
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  position: absolute;
  border: 0px solid blue;
  outline: none;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 40px;
  padding: 0;
  font-size: 24px;
  text-align: center;
}

@font-face {
  font-family: "Creepster";
  font-family: "Roboto Slab";
  src: url("https://fonts.googleapis.com/css?family=Creepster|Roboto+Slab");
}

#word-list {
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: bold;
  list-style: none;
  position: absolute;
  display: block;
  top: 65px;
  right: 10px;
  color: white;
  line-height: 2.5;
  background-color: rgba(0, 0, 0, 0.1);
  width: 12%;
  padding: 0;
  text-align: center;
}

.icon.alt {
  display: inline-block;
  border: solid 1px;
  border-radius: 100%;
}

#page {
  display: flex;
  flex-direction: column;
}

.links {
  position: absolute;
  padding: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  justify-content: space-around;
  font-size: 3em;
  margin: 0;
}

.links a {
  text-decoration: none;
  color: black;
  font-family: "Roboto Slab", serif;
}

.links a:hover {
  color: red;
}

.created-by {
  font-family: "Roboto Slab", serif;
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
}

#high-score-form {
  font-family: "Roboto Slab";
  background-color: honeydew;
  color: black;
  position: absolute;
  border: none;
  outline: none;
  left: 50%;
  bottom: 35%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 40px;
  padding: 0;
  font-size: 24px;
  text-align: center;
}

.game-title {
  font-family: "Roboto Slab";
  text-align: center;
  font-size: 3.5em;
  position: relative;
  top: 0;
  margin: 0;
}
